{% extends 'polls/bootstrap.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}?v=0.0.53">

<!--top nav manu--->
<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
	<div class="navbar-header">
	   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	   </button>
	   <a class="navbar-brand" href="/polls">网站首页</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	{% if main_manu %}
	    <ul class="nav navbar-nav navbar-right">
	    {% for manu in main_manu %}
		<li><a href="/polls/{{ manu.id }}/category">{{ manu.title }}</a></li>
	    {% endfor %}
	    </ul>
	{% endif %}
        <!--
       <form class="navbar-form navbar-right">
    	    <input type="text" class="form-control" placeholder="Search...">
       </form>
        --->
     </div>
  </div>
</nav>

<!--left nav manu--->
<div class="container">
  <div class="top_row">
       <div class="col-sm-12">
          {% autoescape off %}{% bootstrap_messages %}
          {% block content %}{% endblock %}
          {% endautoescape %}
       </div>	
    </div>
  </div>
</div>
<div class="row placeholders">
  <div id="liuy">
    <div class="col-xs-6 col-sm-6 placeholder">
       <div style="padding-top: 33px;">
        <p><span style="color:#000000; font-family:Microsoft YaHei; font-size:large">欢迎联系我们</span></p>
        <div class="editableContent" id="txtc_con_124_13" style="height: 100%; word-wrap:break-word;">
        <p><span style="line-height:1.75"><span style="color:#888888"><span style="font-size:14px">如果您对我们的服务或者其他方面有任何疑问，欢迎通过以下方式与我们联系。您也可以直接通过右侧的留言框把信息发给我们，我们将第一时间进行答复。</span></span></span></p>

<p>&nbsp;</p>

    </div>
        <ul>
            <li><span>公司名称：深圳市志成达电镀设备有限公司</span></li>
            <li><span>公司地址：深圳市宝安区松岗街道沙浦围第二工业区28栋1楼A2</span></li>
            <li><span>邮箱：764060669@qq.com</span></li>
            <li><span>联系电话：13927412155</span></li>
            <li><span><a style="background:url(Img/QQ_bg.png) no-repeat left top" href="tencent://Message/?Uin=764060669&amp;websiteName=q-zone.qq.com&amp;Menu=yes" rel="nofollow" target="_blank">腾讯客服1</a></span></li>
            <li><span><a class="qq" href="tencent://Message/?Uin=764060669&amp;websiteName=q-zone.qq.com&amp;Menu=yes" rel="nofollow" target="_blank">腾讯客服2</a></span></li>
            <li><span><a class="ww" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8" rel="nofollow" target="_blank">旺旺客服</a></span></li>
        <ul>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 placeholder">
  <div class="liuy_bar">
     <div style="padding-top: 33px;width:301px;">
        <div class="liuy_nra">        
            <form action="/polls/consult/" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">姓名:</label>
                    {{ form.name }}
                </div>
                <div class="fieldWrapper">
                    {{ form.telphone.errors }}
                    <label for="{{ form.telphone.id_for_label }}">电话:</label>
                    {{ form.telphone }}
                </div>
                <div class="fieldWrapper">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">邮箱:</label>
                    {{ form.email }}
                </div>
                <div class="fieldWrapper">
                    {{ form.remark.errors }}
                    <label for="{{ form.remark.id_for_label }}">留言:</label>
                    {{ form.remark }}
                </div>
                <input type="submit" style="float:right;" value="提交">
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
</div>

<div id="foot">
  <div class="foot_bar">
    <div class="link_lj">
      <div class="link_log">
    
      </div>
      <div class="link_ljs">
       {% for manu in main_manu %}
        <a href="/polls/{{ manu.id }}/category">{{ manu.title }}</a>
       {% endfor %}
      </div>
    </div>
    <div class="banq">
      <div class="banq_xx">
          <br>地址：深圳市宝安区松岗街道沙浦围第二工业区28栋1楼A2 销售热线：0755-36947952、13927412155 
          <br>版权所有：深圳市志成达电镀设备有限公司
      </div>       
    </div>
  </div>
</div>
{% endblock %}
