<form action="/consult" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

<div id="liuy">
  <div class="liuy_bar">
    <div class="liuynr">
      <div class="liuy_title"><img src="images/ipc_17_124.jpg" width="433" height="63" border="0" usemap="#Map2">
        <map name="Map2" id="Map2">
          <area shape="rect" coords="1,35,81,60" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2850621710&amp;site=qq&amp;menu=yes">
        </map>
      </div>
            
      <div class="liuy_nra">
        <div class="main">
          <div class="wraper">
            <form class="registerform" method="post" action="message.html">
              <table width="100%" style="table-layout:fixed;">
                <tbody>
                  <tr>
                    <td class="need" style="width:10px;line-height:26px;color:#F00;">*</td>
                    <td style="width:70px; line-height:26px;">姓名：</td>
                    <td style="width:205px;"><input type="text" value="" name="name" class="inputxt" datatype="s6-18" errormsg="姓名至少2个字符,最多18个字符！"></td>
                    <td><div class="Validform_checktip"></div></td>
                </tr>
                <tr>
                    <td class="need" style="line-height:26px; color:#F00;">*</td>
                    <td style="line-height:26px;">电话：</td>
                    <td><input type="text" value="" name="tel" class="inputxt" datatype="m" errormsg="请输入您的手机号码！"></td>
                    <td><div class="Validform_checktip"></div></td>
                </tr>
                <tr>
                    <td class="need"></td>
                    <td style=" line-height:26px;">邮箱：</td>
                    <td><input class="inputxt" name="email" type="text"></td>
                </tr>
                <tr>
                    <td class="need"></td>
                    <td>备注：</td>
                    <td colspan="2">
                        <textarea tip="请在这里输入您的意见。" altercss="gray" class="gray" name="msg" value="">请在这里输入您的意见。</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="need"></td>
                    <td></td>
                    <td colspan="2" style="padding:10px 0 18px 0;">
                        <a href="javascript:void(0);" class="btn_sub mr20">提交</a>
                        <a href="javascript:void(0);" class="btn_reset">重置</a>
                    </td>
                </tr>
               </tbody>
             </table>
             </form>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
