{% extends 'polls/base.html' %}
{% block content %}

<div class="table-responsive">
 <table class="table table-striped" style="table-layout:fixed;">
  <thead>
   <tr>
    <th style="width:5%;height:50px;">#</th>
    <th style="width:25%;height:50px;">文章标题</th>
    <th style="height:50px;text-overflow:ellipsis;overflow:hidden;">文章内容</th>
   </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
        <td>{{article.id}}</td>
        <td><a href="{% url 'polls:article_detail' article.id %}">{{article.title}}</a></td>
        <td style="height:30px;max-height:50px;">{{article.content}}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page=1">&laquo; 首页</a>
            <a href="?page={{ articles.previous_page_number }}">前一页</a>
        {% endif %}

	{% if articles %}
	    <span class="current">
     		第 {{ articles.number }} 页 (总 {{ articles.paginator.num_pages }} 页)
	    </span>
        {% endif %}

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">下一页</a>
            <a href="?page={{ articles.paginator.num_pages }}">尾页 &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
