{% extends 'polls/base.html' %}
{% block content %}

{% for article in articles %}
<div style="padding-top:5px;padding-bottom:6px;">
    <h4 class="sub-header">{{article.title}}</h4>
</div>
<div>
    {{article.content}}
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page=1">&laquo; 首页</a>
            <a href="?page={{ articles.previous_page_number }}">前一页</a>
        {% endif %}

    {% if articles %}
        <span class="current">
            第 {{ articles.number }} 页(总 {{ articles.paginator.num_pages }} 页)
        </span>
        {% endif %}

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">下一页</a>
            <a href="?page={{ articles.paginator.num_pages }}">尾页 &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
