{% extends 'polls/base.html' %}
{% block content %}
<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
        {% for rotate in rotate_list %}
		<div class="item {% if forloop.counter == 1 %} active {% endif %}">
			<a href="{{rotate.rotate_link}}"><img src="/media/{{rotate.rotate_image}}" width="1250" height="450" style="height:450px;" alt="{{rotate.title}}"></a>
		</div>
        {% endfor %}
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div> 
<h3 class="page-header">产品分类</h3>
<div class="row placeholders">
    {% for category in product_category %}
    <div class="col-xs-3 col-sm-3 placeholder">
      <a href="{% url 'polls:subcategory' category.id %}"><img src="/media/{{category.cover_image}}" width="250" height="250" style="border:1px;" alt="Generic placeholder thumbnail"></a>
      <span class="text-muted">{{category.title}}</span>
    </div>
    {% endfor %}
</div>

<h3 class="page-header">合作企业</h3>
<div class="row placeholders">
    {% for customer in customer_list %}
    <div class="col-xs-4 col-sm-4 placeholder">
      <img src="/media/{{customer.customer_logo}}" width="250" height="250" style="border:1px;"alt="Generic placeholder thumbnail">
      <span class="text-muted">{{customer.customer_name}}</span>
    </div>
    {% endfor %}
</div>

<div class="row ">
   <div class="col-xs-7 col-sm-7">
       <div class="news">
	    <div class="news_title">
		<span>新闻中心</span>
		<p>NEWS</p>
		<b></b>
	     </div>
	     <div class="clear"></div>
	     <ul >
        {% for article in article_list %}
		<li>
            <a href="{% url 'polls:article_detail' article.id %}"><span><b>&gt;</b>{{article.title}}</span>
                <p>{{article.pub_date}}</p>
            </a>
        </li>
        {% endfor %}
	    </ul>
       </div>
      </div>
   <div class="col-xs-5 col-sm-5">
      <div class="faq">
         <div class="faq_title">
	       <span>常见问题解答</span>
           <p>Questions</p>
         </div>
         <div class="clear">
          <ul>
            {% for faq in faq_list %}
            <li>
	           <span><a href="">{{faq.question}}</a></span>
	           <p><a href="">答: {{faq.answer}}</a></p>
	       </li>
	       {% endfor %}
         </ul>
       </div>
    </div>
  </div>
</div>
{% endblock %}
