{% extends 'polls/base.html' %}
{% block content %}
{% load highlight %} 
 
{% if query %}
    <h5>搜索结果</h5>

    {% for result in page.object_list %}
        <p>
            <a href="{% url 'polls:product_detail' result.object.id %}">{% highlight result.object.title with query max_length 500 %}</a>
            <br>
            <span>
                {% highlight result.object.content with query max_length 300 %}
            </span>
        </p>
    {% empty %}
        <p>没有找到相关内容.</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}<< 前一页{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}后一页 >>{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% else %}
    {# 顶部导航栏重新输入搜索关键词，然后回车搜索 #}
{% endif %}

{% endblock %}
